@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        font-family: "Roboto", sans-serif;
    }
    .bg-custom-color {
        background-color: #f7f7f7;
    }
    .custom-body {
        background-color: #f7f7f7;
    }
    .container {
        max-width: 60%;
    }
    .choose-us-main:hover .choose-us-rounded {
        background-color: rgb(234 88 12);
    }
    .choose-us-main:hover i {
        color: #fff;
    }
    .cities-hover img {
        transition: all .5s ease-in-out;
    }
    .cities-hover:hover img {
        transform: scale(1.10);
        rotate: -2deg;
        transition: all .5s ease-in-out;
    }
    @media only screen and (max-width: 768px) {
        .container {
            max-width: 100%;
        }
    }
    @media only screen and (max-width: 1368px) {
        .container {
            max-width: 80%;
        }
    }
    .contact-head {
        background-image: url("images/contact.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 400px;
    }


}